1)
<html>
        <head><title>My First Web Page</title></head>
        <body bgcolor="red" text="white">
        I am Working in CUTM
        </body>
</html>
2)
<html>
<head>
<title> Axademic Information </title>
</head>
<body bgcolor="red" text="white">
<p>Name = Andavarapu Shatwika </p>
<p>Batch = 2022-2026 </p>
<p>Registration Number = 220101120144 <?p>
<p>CGPA = 8.4 </p>
<p>Branch = CSE </p>
</body>
</html>
3)
<html>

<head>
    <title>Book List</title>
</head>
<body>

    <h2>Books I Refer</h2>
    
    <ol>
        <li>To Kill a Mockingbird by Harper Lee</li>
        <li>1984 by George Orwell</li>
        <li>The Great Gatsby by F. Scott Fitzgerald</li>
        <li>Pride and Prejudice by Jane Austen</li>
        <li>The Catcher in the Rye by J.D. Salinger</li>
    </ol>

</body>
</html>
4)
<html>

<head>
Experiment:2

          


       